header{
    background-color:  #053254;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

#logo{
    width:150px;
}

body{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-link{
    color:aliceblue;
    text-align: none;
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
}

nav{
    display: flex;
    gap:20px;
}

footer{
    background-color:  #053254;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#events{
    display:flex;
    justify-content: center;
    gap: 20px;
    padding: 70px;
}

.event-card{
    text-align: center;
    box-shadow: 0 6px 8px rgba(0,0,0,0.5);
    padding: 20px ;
    border-radius: 10px;
    width: 230px;
    height: 270px
}

.details-btn{
    background-color: rgb(196, 203, 241);
    border-radius: 50px;
    border: 1px solid rgb(5, 5, 5);
    padding: 8px;
    position: relative;
    top: 7px;
    margin: auto;
}

#eventdetails{
    max-width: 500px;
    box-shadow: 0 6px 8px rgba(0,0,0,0.5);
    text-align: center;
    padding: 10px;
    margin: 20px auto
}

.applyform label,.applyform input{
    display:block;
    width: 70%;
    margin: 10px auto;
    justify-content: center;
    
}

.smaller-submit-button {
    max-width: 20%; /* Set the desired width */
    position: relative;
    top: 7px;
    margin: auto; /* Set the desired height */
    font-size: 14px;
    background-color:  #053254;
    color:aliceblue;
    border-radius: 20px;
}